* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
:root {
  --black: #333;
  --grey: #666;
  --slate-grey: #777;
  --white: #eee;
  --green: #40ff2f;
  --blue: #6c79db;
}
body {
  background-color: var(--white);
  color: var(--black);
}
/* CONTAINER LOGIN */
.hero {
  display: flex;
  align-items: flex-start;
}
.hero img {
  width: 8rem;
}
.hero span {
  font-size: 2rem;
  margin-top: 1.5rem;
  font-weight: bold;
}
.container-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.container-login form, .search-name, .search-type {
  width: fit-content;
  position: relative;
}
.container-login form input, .search-name input, .search-type {
  height: 3rem;
  width: 22rem;
  border-radius: 3rem;
  border: none;
  box-shadow: -10px -10px 15px rgb(58 58 58 / 9%), 10px 10px 15px rgb(66 66 66 / 35%);
  padding-left: 1rem;
  color: var(--grey);
  font-size: 1.25rem;
}
input:focus, select:focus, button:focus {
  outline: none;
}
.container-login form button, .search-name button {
  position: absolute;
  right: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  background-color: var(--green);
  cursor: pointer;
  transition: .2s all;
}
.container-login form button:hover, .search-name button:hover {
  background-color: var(--blue);
}
.container-login form button i, .search-name button i {
  color: #eee;
  font-size: 1.2rem;
}
form span {
  display: block;
  text-align: center;
  margin: 1.5rem 0 .75rem;
}
/* POKEDEX */
/* SEARCH POKEDEX */
.container-pokedex {
  padding: 3.5rem 2.5rem;
}
.container-pokedex p {
  margin: 1.5rem 0;
}
.container-pokedex h1 {
  font-size: 2.5rem;
}
.search-name input, .search-type {
  width: 30rem;
}
.toggle {
  display: none;
}
.container-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}
.searchFor {
  margin-top: 2rem;
  cursor: pointer
}
/* CARDS POKEDEX */
.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 13rem;
  height: 11rem;
  margin: 0.5rem; 
  background-color: var(--slate-grey);
  border-radius: 1.5rem;
  color: var(--white);
  display: flex;
  padding: 1rem;
  cursor: pointer;
  transition: .2s all;
}
.card:hover {
  transform: scale(1.1);
}
.card .text {
  width: 70%;
}
.card .img {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
}
.card .img img {
  width: 10rem;
}
.card .text span {
  display: block;
  font-size: .9rem;
}
.card .text .name {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .5rem;
}
/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
}
.content-pagination {
  width: fit-content;
  margin-top: 2rem;
}
.content-pagination button {
  padding: .5rem;
  margin: .25rem;
  border-radius: .5rem;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  transition: .2s all;
}
.content-pagination button:hover {
  background-color: var(--green);
}
/* POKEMON DETAILS */
/* HEADER */
.container-pokemon-details {
  padding: 4rem 3rem;
}
.container-pokemon-details .header img {
  width: 15rem;
}
.grid-container {
  display: grid;
  width: 100%;
  height: 250px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20rem 14rem 20rem;
  grid-template-areas:
  "hero-detail hero-detail movements"
  "type habilities movements"
  "stats stats movements";
  gap: 1rem 2rem;
}
.hero-detail {
  background-color: #fff;
  grid-area: hero-detail;
  display: flex;
  flex-direction: column;
}
.hero-first {
  display: flex;
  align-items: flex-end;
  height: 60%;
  width: 100%;
}
.hero-first div {
  width: 33.33%;
}
.hero-first div img {
  height: 15rem;
}
.hero-first div:nth-child(2) {
  display: flex;
  justify-content: center;
}
.hero-first div span {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hero-first div span:first-child {
  font-weight: bold;
  font-size: 2rem;
}
.hero-second {
  padding-top: 1rem;
  height: 40%;
  text-align: center;
}
.hero-second h1 {
  margin-bottom: 1rem;
}
/* TYPES AND ABILITIES*/
.type, .habilities {
  background-color: #fff;
  grid-area: type;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.type span, .habilities span {
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem;
  margin: .5rem 0;
}
.type h2, .habilities h2 {
  margin-bottom: .75rem;
}
.habilities {
  background-color: #fff;
  grid-area: habilities;
}
/* MOVEMENTS */
.movements {
  grid-area: movements;
  text-align: center;
}
.movements div:first-child {
  background-color: #ddd;
  padding: .5rem 0;
  margin-bottom: 1rem;
}
.movements h2 {
  padding-top: 1rem;
}
.movements div:last-child span {
  display: block;
  margin: .5rem 0;
}
.movements div:last-child {
  background-color: #fff;
  padding-bottom: .5rem;
  overflow-y: scroll;
  height: 100%;
}
/* STATS */
.stats {
  background-color: #fff;
  grid-area: stats;
  text-align: center;
  padding: 1rem;
}
.stats h2 {
  margin-bottom: 1rem;
}
.stats .item {
  display: flex;
  margin-bottom: 2rem;
}
.stats .item div {
  height: 2rem;
}
.stats .item .title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
  padding-right: 2rem;
}
.stats .item .title span {
  background-color: #ddd;
  border-radius: 4px;
  padding: 4px;
}
.stats .item .bar {
  background-color: #ddd;
  width: 75%;
}
.stats .item .bar .progress {
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-pokemon-details .arrow,
.container-pokedex .arrow {
  font-size: 2rem;
  position: absolute;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
}
.container-pokemon-details .arrow {
  position: absolute;
  top: 2rem;
  left: 3rem;
}
/* POKEBALL */
.pokeball {
  position: absolute;
  z-index: -1;
  top: 2rem;
  right: 4rem;
  /* animation */
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.pokeball img {
  width: 20rem;
  opacity: 70%;
}
@keyframes rotation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.itemPerPage {
  margin-bottom: 1rem;
}